.book-menu nav::-webkit-scrollbar {
    display: none;
}

// body::-webkit-scrollbar {
//     display: none;
// }

@import "plugins/scrollbars";

img {
    min-width: 60%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background: #212121
    }
    img {
        filter: invert(87.0%);
    }
}

@mixin theme-dark {
  --body-background: #212121;
  --body-background-tint: none;

  --body-font-color: #e9ecef;

  --color-link: #84b2ff;
  --color-visited-link: #b88dff;

  --icon-filter: brightness(0) invert(1);

  --gray-100: #494e54;
  --gray-200: #5c6165;
  --gray-500: #999d9f;

  @include accent("default", #64748b);
  @include accent("note", #4486dd);
  @include accent("tip", #3bad3b);
  @include accent("important", #8144dd);
  @include accent("warning", #f59e42);
  @include accent("caution", #d84747);

  // Fallback for {{< hint >}} shortcodes
  @include accent("info", #4486dd);
  @include accent("success", #3bad3b);
  @include accent("danger", #d84747);
}

// Interactive indication when hovering over navbar buttons
nav {
    .navbutton:hover {
        background-color: var(--gray-500);
        color: var(--body-font-color);
    }
}

// Reduce the padding around all book-section elements
.book-section-flat {
  margin: $padding-1 * 2 0;
}

// Reduce the margins around navbar buttons
aside nav ul li {
    margin: $padding-1;
}

// Formatting for navbar buttons
.navbutton {
  border: none;
  padding: $padding-8 $padding-8;
  text-align: center;
  text-decoration: none;
  margin: $padding-1;
  cursor: pointer;
}

// Allow section names to expand to fill the toggle width
.book-collapse-section{
    flex: 1;
}

// Margins around external link section
.book-menu-hugo {
    margin-top: $padding-16;
}

// Scrollable katex equations
.katex-display{
  overflow: auto hidden;
}
