// Increase the maximum size of the entire container to make use of larger screens
$container-max-width: 90rem;
// Convert to mobile-style single-pane view once page body becomes 40rem
$mobile-breakpoint: $menu-width + $body-min-width * 2 + $toc-width;
// Increase width of nav column
$menu-width: 20rem;
// Increase width of table-of-contents column
$toc-width: 20rem;