{{- if not (.Page.Scratch.Get "katex") -}}
<!-- Include katex only first time -->
<link rel="stylesheet" href="{{ "katex/katex.min.css" | relURL }}" />
<script defer src="{{ "katex/katex.min.js" | relURL }}"></script>
<script defer src="{{ "katex/auto-render.min.js" | relURL }}" onload="loadKatex();"></script>

<script>
  function loadKatex() {
    renderMathInElement(document.body, {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "\\[", right: "\\]", display: true },
        { left: "$", right: "$", display: false },
        { left: "\\(", right: "\\)", display: false }],
      throwOnError: false,
      trust: (context) => ['\\htmlId', '\\href'].includes(context.command),
      macros: {
        "\\lcm": "\\mathop{\\mathrm{lcm}}",
        "\\sen": '\\text{sen}\\,',
        "\\dd": "\\mathop{\\mathrm{d} #1}",
        "\\abs": "\\lvert #1 \\rvert",
        "\\dd": "\\text{d}",
        "\\cross": "\\times",
        "\\pdv": "\\frac{\\partial #1}{\\partial #2}",
        "\\curl": "\\nabla \\cross #1",
        "\\vu": "\\mathbf{\\hat{#1}}",
        "\\vdot": "\\dot",
        "\\div": "\\nabla \\cdot #1",
        "\\grad": "\\nabla",
        "\\dv": "\\frac{d\\,#1}{d\\,#2}",
        "\\gr": "\\gamma",
        "\\vec": "\\mathbf{#1}",
        "\\tagl": "\\tag{#1}",
        "\\eqref": "(#1)",
        "\\laplacian": "\\mathbf{\\nabla ^2}",
        "\\label": "{}",
        "\\negadelta": "\\nabla",
        "\\eqref": "\\href{###1}{(\\text{#1})}",
        "\\ref": "\\href{###1}{\\text{#1}}",
        "\\label": "\\htmlId{#1}{}",
      }
    });
  };
</script>


{{- .Page.Scratch.Set "katex" true -}}
{{- end -}}

<span {{- with .Get "class" }} class="{{ . }}" {{ end }}>
  {{ cond (in .Params "display") "\\[" "\\(" -}}
  {{- trim .Inner "\n" -}}
  {{- cond (in .Params "display") "\\]" "\\)" }}
</span>
